[MESSAGES CONTROL]

disable=missing-module-docstring,
        unused-wildcard-import,
        wildcard-import,
        missing-class-docstring,
        too-many-ancestors,
        too-few-public-methods,
        too-many-branches,
        too-many-instance-attributes
