[MESSAGES CONTROL]

disable=missing-module-docstring,
        unused-wildcard-import,
        wildcard-import,
        too-many-ancestors,
        missing-class-docstring,
        too-few-public-methods
